body{
  font-size: 16px;
  margin: 0;
}
#header-nav{
    height: 60px;
    width: 100%;
    background-color:grey;
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.container {
    padding: 0; 
    margin: 0;
}
h2 #comp{
    margin: 0;
}
#comp_name{
    padding-left: 2px;
    float: left;
}
h1{
    text-align: center;
}
.m2{
    padding-left: 10px;
    padding-right: 10px;
}
.m{
    background-color: grey;
    position: relative;
    padding-left: 5px;
}
#m1{
    font-size: large;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    padding: 10px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#nav-list {
    margin-top: 10px;
    width: 100%;
  }
  #nav-list a {
    color: black;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
    width: 100%;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
    width: 100%;
  }
@media (min-width: 768px) {
    #nav-list li:nth-child(1),
    #nav-list li:nth-child(2),
    #nav-list li:nth-child(3) {
        display: none;
    }
}

